.all {
    margin-top: 150px;
    margin-left: 450px;
    margin-right: 500px;
}
.cancel{
    width: 80px;
    margin-top: 50px;
    margin-left: 400px;
    float: right;
}

.register {
    display: flex;
    margin-top: 50px;
    width: 80px;
     flex-direction: column;
}